<div *ngIf="cart.length <= 0">
  <br>
  <br>
  <br>
  <h3 class="text-center">No items in the Cart!</h3>
  <br>
</div>
<table class="table table-striped table-hover " >
  <thead>
      <tr>
      <th>Product Name</th>
      <th>Product Price</th>
      <th>Description</th>   
      <th>Product Image</th>
      </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of cart; let i = index">
     
      <td><h4>{{product.title}}</h4></td>
      <td><h4>{{product.price}}</h4></td>
      <td><h4>{{product.description}}</h4></td>
      <td><img src={{product.imagePath}} width="100" height="100" /></td>
      <td><button (click)="removeProduct(product)" class="btn btn-xs btn-danger">Remove Product</button></td>
    </tr>

    <tr class="warning">
      <td><h4></h4></td>
      <td><h4>Total Items: </h4></td>
      <td><h4>Total: $</h4></td>
      <td><button class="btn btn-md btn-success">Checkout</button></td>
    </tr>
  </tbody>
</table>


