<div style="float: left; border: 2px; border-style: dashed; width: 140px ; width: 20%; border-radius: 10px; border-color: #cc0000; background-color: #ffe6e6;">
  <div id="titleDiv" style="padding: auto;  font-weight: bold; color: #cc0000; font-size: 17px; text-align: center;">
    {{product.title}}
  </div>
  <div id="imgDiv">
    <img src= "https://www.ihop.com/-/media/dineequity/ihop/images/menu/menuitems/sweet-crepes/rasp-sweet-cream-crepes/raspberrysweetcreamcrepe.ashx" style="width: 100%; border: 0.5px solid #808080; border-color: #cc0000; background-color: white;" class="img-circle">
  </div>
  <div>
    {{product.description}}
  </div>
  <div><button (click)="AddToCart(product)" class="btn btn-xs btn-danger">Add To Cart</button></div>
</div>